<div class="card mb-0">
  <ul class="nav nav-tabs nav-justified alpha-grey mb-0">
    <li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">Sign in</h6></a></li>
    <li class="nav-item"><%= link_to new_user_registration_path, class: 'nav-link border-y-0 border-left-0'  do %><h6 class="my-1">Register</h6><% end %></li>
  </ul>

<div class="tab-content card-body">
    <div class="tab-pane fade show active" id="login-tab1">
      <%= form_for(resource, as: resource_name, class: "login-form wmin-sm-400", url: session_path(resource_name)) do |f| %>
      <div class="text-center mb-3">
        <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
        <h5 class="mb-0">Login to your account</h5>
        <p class="d-block text-muted">Your credentials</p>
      </div>

      <div class="form-group form-group-feedback form-group-feedback-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Username or Email" %>
        <div class="form-control-feedback">
          <i class="icon-user text-muted"></i>
        </div>
      </div>

      <div class="form-group form-group-feedback form-group-feedback-left">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
        <div class="form-control-feedback">
          <i class="icon-lock2 text-muted"></i>
        </div>
      </div>

      <div class="form-group d-flex align-items-center">
        <% if devise_mapping.rememberable? -%>
          <div class="form-check mb-0">
            <%= f.check_box :remember_me, name: "remember", class: "form-input-styled", checked:true %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end -%>

        <%= render "users/shared/links" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: 'btn btn-primary btn-block' %>
      </div>

      <%= render 'users/shared/link_omniauth' %>

      <p class="form-text text-center text-muted">
        By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a>
      </p>
      <% end %>
    </div>

  </div>
</div>





